.memory-cards {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.class-Formulas {

  background: #692d558c;
}


.class-Results{
  background: #692D55;

  
}
.allCardsContainer{

display: flex;

}
.memory-card {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  box-shadow: 2px 2px 5px #000000;
  position: relative;
  transition: transform 0.8s;
  margin: 0.5rem;
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
  font-size: 1.5em;
  /* padding: 10%; */
  cursor: pointer;
   transition: transform 0.8s;
   /* background-color: bisque; */
  
}

.flip {
  transform: rotateY(180deg);

}

.front {

}

.back {

}